  
<mat-sidenav-container>
  <mat-sidenav  mode="side" opened>
    <mat-button-toggle-group name="_shipping" aria-label="Shipping">
      <div fxLayout="column" fxLayoutGap="5%" >
        <mat-button-toggle (change)="options='_new_shipping'">
          <mat-icon>add_circle</mat-icon>
            New Shipping</mat-button-toggle>
        <mat-button-toggle (change)="options='_shipment_list'">
          <mat-icon>filter_list</mat-icon>
            Shipment List</mat-button-toggle>
        <mat-button-toggle (change)="options='_docket_list'">
          <mat-icon>edit</mat-icon>
            Docket List</mat-button-toggle>
        <mat-button-toggle (change)="options='_batch_import'">
          <mat-icon>file_upload</mat-icon>
            Shipment Batch Upload</mat-button-toggle>
      </div>
    </mat-button-toggle-group>
  </mat-sidenav>
    
  <mat-sidenav-content class="content">
    <div style="margin-left: 30px; margin-top:50px;">
      <app-new-shipping *ngIf="options === '_new_shipping'"></app-new-shipping>
      <app-shipment-list *ngIf="options === '_shipment_list'"></app-shipment-list>
      <app-docket-list *ngIf="options === '_docket_list'"></app-docket-list>
      <app-batch-import *ngIf="options === '_batch_import'"></app-batch-import>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

