
  <mat-sidenav-container>
    <mat-sidenav  mode="side" opened>
      <mat-button-toggle-group name="_tracking" aria-label="Tracking">
        <div fxLayout="column" fxLayoutGap="5%" >
          <mat-button-toggle (change)="enquiryOption='_single_shipment'">
            <mat-icon>search</mat-icon>
              Single Shipment</mat-button-toggle>
          <mat-button-toggle (change)="enquiryOption='_multiple_shipments'">
            <mat-icon>search</mat-icon>
              Multiple Shipment</mat-button-toggle>
          <mat-button-toggle (change)="enquiryOption='_update_shipment_status'">
            <mat-icon>edit</mat-icon>
              Update Shipment</mat-button-toggle>
        </div>
      </mat-button-toggle-group>
    </mat-sidenav>
    
    <mat-sidenav-content class="content">
      <div style="margin-left: 30px; margin-top:50px;">
        <app-single-shipment *ngIf="enquiryOption==='_single_shipment'"></app-single-shipment>
        <app-multiple-shipment *ngIf="enquiryOption==='_multiple_shipments'"></app-multiple-shipment>
        <app-entry *ngIf="enquiryOption==='_update_shipment_status'" ></app-entry>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



