<form [formGroup]="importForm" novalidate>

    <mat-form-field >
      <mat-label for="_file">Choose File</mat-label>  
      <ngx-mat-file-input formControlName="_file"  [accept]="'.xls'">
      </ngx-mat-file-input>
    </mat-form-field>

     <div fxLayout="row" fxLayoutGap="1%" >
        <button mat-raised-button  type="submit" color="primary"  class="btn-sign-in">
            <mat-icon>file_upload</mat-icon>
          Upload
        </button>
        <button mat-raised-button color="primary"  class="btn-sign-in" (click)="onClear()">
          Reset
        </button>
      </div>
  
  </form>