    <form [formGroup]="newShippingForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row" fxLayoutGap="1%">
                <mat-form-field appearance="fill" class="w-20">
                    <mat-label for="shipmentNo">Shipment#</mat-label>
                    <input matInput type="text" formControlName="shipmentNo" id="shipmentNo" required>
                    <mat-hint>Leave It Empty and select Autogenerate to make it System Generated</mat-hint>
                </mat-form-field>
                <a>Retrieve</a>
                <mat-checkbox>Autogenerate</mat-checkbox>
                <mat-form-field appearance="fill" class="w-20">
                    <mat-label for="altrefNo">ALT. Ref</mat-label>
                    <input matInput type="text" formControlName="altrefNo" id="altrefNo">
                    <mat-hint>3rd Party Generated Way Bill Number</mat-hint>
                </mat-form-field>
                <a>Retrieve</a>
            </div>
            <div fxLayout = "row" fxLayoutGap="1%">
                <fieldset>
                    <legend>Sender Informarion</legend>
                    <div fxLayout="row wrap" fxLayoutGap="2%" formGroupName="senderInformation">
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="billTo">Bill To</mat-label>
                            <input matInput type="text" formControlName="billTo" id="billTo" required>
                            <mat-hint>This is same as Account Code</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="name">Name</mat-label>
                            <input matInput type="text" formControlName="name" id="name" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="country">Country</mat-label>
                            <mat-select formControlName="country" required>
                                <mat-option *ngFor="let _cnt of Country" [value]="_cnt">{{_cnt}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="box" appearance="fill" class="w-40">
                            <mat-label for="address">Address</mat-label>
                            <textarea matInput formControlName="address" id="address" required rows="5"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="city">City/Town</mat-label>
                            <input matInput type="text" formControlName="city" id="city" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="state">State</mat-label>
                            <input matInput type="text" formControlName="state" id="state">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="postcode">Postcode</mat-label>
                            <input matInput type="text" formControlName="postcode" id="postcode">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="contact">Contact</mat-label>
                            <input matInput type="text" formControlName="contact" id="contact" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="phone">Phone</mat-label>
                            <input matInput type="text" formControlName="phone" id="phone" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="email">Email</mat-label>
                            <input matInput type="text" formControlName="email" id="email"> 
                        </mat-form-field>
                        <mat-checkbox>Alert</mat-checkbox>
                        <mat-form-field appearance="fill" class="w-40">
                            <mat-label for="receivingCountryTaxId">Receiving Country Tax ID</mat-label>
                            <input matInput type="text" formControlName="receivingCountryTaxId" id="receivingCountryTaxId"> 
                        </mat-form-field>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Shipment Information</legend>
                        <div fxLayout="row wrap" formGroupName="shipmentInformation" fxLayoutGap="2%">
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="service">Service</mat-label>
                                <mat-select matInput type="text" formControlName="service" id="service" required appearance="fill"> 
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutGap="2%">
                            <mat-checkbox>Security Value</mat-checkbox>
                            <mat-checkbox>Insurance Value</mat-checkbox>
                            </div>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="noOfItems">Number Of Item</mat-label>
                                    <input matInput type="text" formControlName="numberOfItems" id="numberOfItems" required>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="description">Description</mat-label>
                                <input matInput type="text" formControlName="description" id="description" required>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="harmonisedCode">Harmonised Code</mat-label>
                                <input matInput type="text" formControlName="harmonisedCode" id="harmonisedCode">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="weight">Weight Code</mat-label>
                                <input matInput type="text" formControlName="weight" id="weight" required>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="_unit">Unit</mat-label>
                                <mat-select formControlName="_unit" appearance="fill">
                                    <mat-option *ngFor="let _unit of Units" [value]="_unit">{{_unit}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="cubic_weight">Cubic Weight (LxWxH) in KG</mat-label>
                                <input matInput type="text" formControlName="cw" id="cw">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="cod">COD Amount</mat-label>
                                <input matInput type="text" formControlName="cod" id="cod">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-40">
                                <mat-label for="currency">Currency</mat-label>
                                <mat-select formControlName="currency" appearance="fill">
                                    <mat-option *ngFor="let _currency of Currency" [value]="_currency">{{_currency}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                </fieldset>
            </div>
            <div formGroupName="receiverInformation">
                <fieldset>
                    <legend>Receiver Informarion</legend>
                    <div fxLayout="row wrap" fxLayoutGap="1%">
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="name">Name</mat-label>
                            <input matInput type="text" formControlName="name" id="name" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="country">Country</mat-label>
                            <mat-select formControlName="country" required appearance="fill">
                                <mat-option *ngFor="let _cnt of Country" [value]="_cnt">{{_cnt}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="box" appearance="fill" class="w-30">
                            <mat-label for="address">Address</mat-label>
                            <textarea matInput formControlName="address" id="address" required rows="5"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="city">City/Town</mat-label>
                            <input matInput type="text" formControlName="city" id="city" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="state">State</mat-label>
                            <input matInput type="text" formControlName="state" id="state">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="postcode">Postcode</mat-label>
                            <input matInput type="text" formControlName="postcode" id="postcode">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="contact">Contact</mat-label>
                            <input matInput type="text" formControlName="contact" id="contact" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="phone">Phone</mat-label>
                            <input matInput type="text" formControlName="phone" id="phone" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-30">
                            <mat-label for="email">Email</mat-label>
                            <input matInput type="text" formControlName="email" id="email"> 
                        </mat-form-field>
                        <mat-checkbox>Alert</mat-checkbox>
                    </div>
                </fieldset>
            </div>
            <div fxLayout="row" fxLayoutGap="1%" >
                <button mat-raised-button color="primary"   type="submit" class="btn-sign-in">Submit </button>
                <button mat-raised-button color="primary"  class="btn-sign-in" (click)="onReset()">Reset</button>
            </div>
    </form>
   

