

  <mat-sidenav-container>
    <mat-sidenav  mode="side" opened>
      <mat-button-toggle-group name="_account" aria-label="Account">
        <div fxLayout="column" fxLayoutGap="5%" >
          <mat-button-toggle >
            <mat-icon>add_circle</mat-icon>
              Create Account</mat-button-toggle>
          <mat-button-toggle >
            <mat-icon>edit</mat-icon>
              Delete Account</mat-button-toggle>
          
        </div>
      </mat-button-toggle-group>
    </mat-sidenav>
    
    <mat-sidenav-content >
      <div style="margin-left: 30px; margin-top:50px;">
 
<form [formGroup]="createForm" (ngSubmit)= "onSubmit()">
  <fieldset>
    <legend>Account Information</legend>
    <div fxLayout="row wrap" fxLayoutGap="2%" formGroupName="accountInformation">
        <span fxLayout="column" fxLayoutGap="5%">
        <mat-label>Existing Customer</mat-label>
        <mat-radio-group fxLayout='row' fxLayoutGap="25px" formControlName="existingCustomer">
          <mat-radio-button value="yes" >Yes</mat-radio-button>
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
        </span>
      <mat-form-field appearance="fill" class="w-20">
        <mat-label>Account Code</mat-label>
        <input matInput type="text" required formControlName="accountCode">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-20">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" requiired formControlName="companyName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-20">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let _role of Role" value="_role">{{_role}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </fieldset>
  <fieldset>
      <legend>Contact Information</legend>
      <div fxLayout="row wrap" fxLayoutGap="2%" formGroupName="contactInformation">
        <mat-form-field appearance="fill" class="w-30">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label>Name</mat-label>
        <input matInput type="text" required formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label for="address"> Address</mat-label>
        <textarea matInput type="text" required formControlName="address" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label for="city">City/Town</mat-label>
        <input matInput type="text" formControlName="city">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label>State/Province</mat-label>
        <input matInput type="text" formControlName="state">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label for="postalCode">Postal Code</mat-label>
        <input matInput type="text" formControlName="postalCode">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label for="country">Country</mat-label>
        <mat-select matInput type="text" required formControlName="country" appearance="fill">
          <mat-option *ngFor="let _cnt of Country" value="_cnt">{{_cnt}}</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label>Telephone</mat-label>
        <input matInput type="tel" required formControlName="telephone">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" required formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label>Remarks</mat-label>
        <textarea matInput type="text" formControlName="remarks" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-30">
        <mat-label>Where did you hear about us?</mat-label>
        <textarea matInput type="text" formControlName="info" rows="3"></textarea>
      </mat-form-field>
      <mat-checkbox required formControlName="residentialAddress"> Residential Address</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutGap="1%">
      <button mat-raised-button class="btn-sign-in" color="primary" type="submit">Create Account</button>
      <button mat-raised-button class="btn-sign-in" color="primary" (click)="onClear()">Clear</button>
    </div>
  </fieldset>
</form>       
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



