.example-container {
    //width: 500px;
    width: auto;
    //height: 300px;
    height: auto;
    //border: 1px solid rgba(0, 0, 0, 0.5);
  }
 
  .w-90 {
    width: 90%;
  }

  .w-100 {
    width: 100%;
  }
  
  .w-30 {
    width: 30%;
  }

.mb-0 {
    margin-bottom: unset !important;
}

.mb-1 {
    margin-bottom: 1% 
}

.mb-5 {
  margin-bottom: 5%;
}
.card.card-small {
    height: 30px;
    width: 200px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
